* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 16px;
}
html, body {
    overflow-x: hidden;
}
body {
    background-color: #fff;
    color: #747474;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    max-width: 100%;
}
a, a img, img {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
ul  {
    list-style: none;
    padding-left: 0
}
.mainslider .sliderslide {
    height: 100vh;
}

.mainslider {
    margin-bottom: 0px !important;
}

ul.slick-dots {
    bottom: 0;
}

.mainslider .sliderslide .slideinnr {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    height: 100%;
}

.mainslider .sliderslide .slideinnr .slidecontent {
    width: 100%;
    max-width: 52.5rem;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding: 2.813rem 6.875rem 2.813rem 1.875rem;
    display: flex;
    align-items: center;
}

.mainslider .sliderslide .slideinnr .slidecontent .namaste {
    margin-top: 42px;
}

h2 {
    letter-spacing: 2.36px;
    color: #FFFFFF;
    font-size: 3.938rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 0.938rem 0 1.5rem;
}

h6 {
    font-weight: 500;
    font-size: 3rem;
    text-align: left;
    letter-spacing: 1.24px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.slidecontent p {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #fff;
    font-family: 'Poppins';
}

.newletter {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.newletter .input {
    width: 100%;
}

.newletter .input input[type="text"] {
    font-size: 0.875rem;
    font-family: 'Poppins';
    height: 3.25rem;
    padding: 1rem;
    width: 100%;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0px 2px 48px #0000000F;
}
.newletter button {
    position: absolute;
    top: 0.25rem;
    right: 0.188rem;
    background: #B37917;
    padding: 0.313rem 0.375rem;
    border-radius: 4px;
    width: 2.5rem;
    height: 2.5rem;
}
button.slick-prev.slick-arrow {
    left: 3rem;
}
button.slick-next.slick-arrow {
    right: 3rem;
    transform: rotate(180deg);
}
button.slick-arrow {
    background-image: url(./arrow.svg) !important;
    width: 40px !important;
    height: 40px !important;
    background-size: contain !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    z-index: 1;
}
button.slick-arrow:before {display: none;}
.newletter {
    position: relative;
}
.mainslider .sliderslide {background-size: cover;}
.newletter button svg {
    fill: #fff;
    width: 80%;
    height: 100%;
}
ul.slick-dots li button {
    width: 5px !important;
    padding: 0px !important;
    background: #fff;
    height: 5px;
    border-radius: 10px;
}

ul.slick-dots li button:before {
    display: none;
}

ul.slick-dots li {
    margin: 0 0 0 3px;
}

ul.slick-dots li.slick-active button {
    width: 100% !important;
}
.newletter button:hover {
    background: #8d5f11;
}
.newletter button {
    cursor: pointer;
}
/*Responsive*/
@media(max-width: 1600px) {
    html {
        font-size: 64%;
    }
}
@media(max-width: 500px) {
    ..mainslider .sliderslide .slideinnr {width: 100%}
    .mainslider .sliderslide .slideinnr .slidecontent, h6, h2 {max-width: 100%; text-align: center;}
    .mainslider .sliderslide .slideinnr .slidecontent .namaste img, .mainslider .sliderslide .slideinnr .slidecontent .icon img {
        margin: 0 auto !important;
    }
    .mainslider .sliderslide .slideinnr .slidecontent {
        padding-left: 20px;
        padding-right: 20px;
    }
    button.slick-arrow {
        width: 30px !important;
        display: none !important;
    }
    button.slick-prev.slick-arrow {
        top: 52%;
        left: 15px;
    }
    button.slick-next.slick-arrow {
        right: 14px;
    }
    html {
        font-size: 60%;
    }
}